.modal-overlay {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.7); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; /* modal above other content */
}

.modal-content {
    background: linear-gradient(135deg, #585858, #12141e);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
    text-align: center; 
    max-width: 90%; 
    width: 300px; 
    height: auto;
    min-height: 150px;
    transition: max-width 0.3s ease; 
    color: white; 
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-overlay .modal-content button {
    margin-top: 15px; 
    padding: 8px 12px;
    background-color: #333639; 
    color: white; 
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 14px; 
    transition: background-color 0.3s; 
    width: 75px;
    height: 35px;
}

.modal-content button:hover {
    background-color: #5e6062;
}

/* Responsive adjustments*/ 
@media (max-width: 500px) {
    .modal-content {
        width: 90%; /* Make it even more responsive on smaller screens */
    }
}