/* index */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body.login-page {
  background: url('./Components/Assests/university.png') no-repeat center center;
  background-size: cover;
}

body.register-page {
  background: url('./Components/Assests/university.png') no-repeat center center;
  background-size: cover;
}

body.homepage-page {
  background-color: white;
}

body.forgotpassword-page {
  background: url('./Components/Assests/university.png') no-repeat center center;
  background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
