.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.homepage span {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.profile {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.menu li a:focus {
    outline: none; 
}

.menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: navy;
}

.menu li a:link,
.menu li a:visited {
    color: inherit; 
    text-decoration: none;
}

.menu li a:hover,
.menu li a:active {
    color: navy; 
    text-decoration: underline; 
}


.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 16px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    background-color: white;
}

.product-card img {
    width: 150px;  /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    object-fit: cover; /* Ensure images scale and crop to fit */
    border-radius: 8px;
    margin-bottom: 10px;
}